
$bg-dark : #000000;
$bg-1 : #F5F5F5;
$bg-btn : #F8B653;
$bg-span : #DEDDDC;


/*text color*/
$text-1 : #F6F6F6;
$text-2 : #000000;

/*font size*/
$fs-small: 16px;
$fs-normal: 20px;

/*hover text color*/
$c-hover: #000000;


@mixin button($fs,$fw,$lh,$c,$bg,$pd,$bd,$br,$bg-hover,$c-hover) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius: $br;
    cursor: pointer;
    &:hover {
        background: $bg-hover;
        color: $c-hover;
    }
}


@mixin span($fw,$lh,$bg,$br) {
    font-weight: $fw;
    line-height: $lh;
    background: $bg;
    border-radius: $br;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}


header {
    background-color: $bg-dark;
    height: 50px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .logo {
            img {
                width: 116px;
                height: 32px;
                position: absolute;
                top: 10px;
                left: 24px;
            }
        }

        .login {
             nav {
                position: absolute;
                right: 50px;
                top: 10px;
                color: $text-1;
                a {
                    text-decoration: none;
                    margin-left: 20px;
                    color: $text-1;
                    font-size: $fs-small;
                    img {
                        width: 31px;
                        height: 31px;
                    }
                }
             }
        }
    }
}

.menu {
    background-color: $bg-1;
    height: 50px;
        nav {
            a {
                line-height: 50px;
                text-decoration: none;
                margin-left: 30px;
                opacity: 75%;
                color: $text-2;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: #000000;
                    left: 0;
                    bottom: -10px;
                    transform: scale(0,1);
                    transition: transform 0.3s;
                }

                &:hover {
                    color: $text-2;
                    font-weight: 500;
                    &::before {
                        transform: scale(1,1);
                    }
                }
            }
        }
}

.carousel {
    
    background-image: url(../img/image\ 6.png);
    background-size: cover;
    background-position: center right;
    object-fit: cover;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .thumbnail {
        position: relative;
        top: -50px;
        img {
        }
    }

    .detail {
        position: relative;
        left: -150px;
        top: -50px;
        h2 {
            font-size: 40px;
            font-weight: 300;
        }
        p {
            font-size: 20px;
            font-weight: 300;
        }
        a {
            text-decoration: none;
            @include button(20px,600 ,24px ,$text-1 ,$bg-btn ,10px 30px ,none ,5px ,$bg-btn,$c-hover)
        }
    }
}


.product {

    margin-bottom: 100px;
    .container {

        .title {
            text-align: center;
            margin-top: 50px;
        }

        .main {

            .row {
                display: flex;
                justify-content: space-around;
                padding: 0;
                margin: 0;
                --bs-gutter-x: 0;
                
                .card {
                    margin-top: 45px;
                    border: none;
                    background: #F8F8F8;
                    img {
                        width: 220px;
                        height: 156px;
                        display: block; 
                        margin-left: auto; 
                        margin-right: auto;
                        margin-top: 45px;
                    } 
                    .card-body {
                        border: none;
                        background: #F8F8F8;
                        h1 {
                            font-size: 24px;
                        }
                    }
                    .card-footer {
                        padding: 0;
                        border: none;
                        background: #F8F8F8;
                        display: flex;
                        a {
                            width: 50%;
                            @include button(20px,600 ,24px ,$text-1 ,$bg-btn ,10px 30px ,none ,5px ,$bg-btn,$c-hover)
                        }
                        span {
                            width: 50%;
                            text-align: center;
                            @include span(600,50px,$bg-span,5px)
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px){
    .carousel {
        .thumbnail{}
        .detail{
            position: relative;
            top: 0;
            left: -120px;
            a {
                font-size: small;
            }
        }
    }
}


@media screen and (max-width: 420px){
    .carousel {
        .thumbnail{}
        .detail{
            position: relative;
            top: 0;
            left: -320px;
            a {
                font-size: small;
            }
        }
    }
}